// Scrolling Bottom in top
.scrolling-bottom-in-top {
    animation: scrolling-bottom-in-top 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.scrolling__load--1 {
    animation-delay: 200ms;
}

.scrolling__load--2 {
    animation-delay: 300ms;
}

.scrolling__load--3 {
    animation-delay: 400ms;
}

.scrolling__load--4 {
    animation-delay: 500ms;
}

@keyframes scrolling-bottom-in-top {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
  }

// Right in left

.menu {
    &__item {
        position: relative;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        width: 100%;
        max-width: 400px;
        border-radius: 15px;
        text-decoration: none;
        background-color: #fff;
        box-shadow: 0 4px 10px 3px #dbdbdb;
        color: black;
        padding: 13px 16px 10px 10px;
    
        &-text {
            max-width: 90%;
            transition: max-width .5s;
            h3 {
                margin-bottom: 3px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
    
            p {
                font-weight: 100;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        } 
        
        &-price {
            transition: margin-right .5s;
            font-weight: 700;
        }

        &-action {
            position: absolute;
            top: 0;
            bottom: 0;
            background-color: $tertiary;
            right: -64px;
            width: 64px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: right .5s;
        }
    }

}

.menu__item:hover .menu__item-text {
    max-width: calc(90% - 64px);
}

.menu__item:hover .menu__item-price {
    margin-right: 64px;
}

.menu__item:hover .menu__item-action {
    right: 0;
}

// Icon

.menu__item-icon {
    height: 25px;
    width: 25px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    transform: rotate(180deg);
    transition-duration: .5s
}
.menu__item:hover .menu__item-icon{
    transform: rotate(0);
    color: $tertiary;
}

// heart

.hoverheart:hover .hoverheart__content-solid {
    opacity: 1;
    transition: 0.3s ease-in-out;
}
.hoverheart:hover .hoverheart__content-light {
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.hoverheart__content-solid {
    font-size: 24px;
    position: absolute;
    background: linear-gradient($primary, $secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
}
.hoverheart__content-light {
    font-size: 24px;
    position: absolute;
    opacity: 1;
}

.restaurant-page-menu .hoverheart:hover .hoverheart__content-solid {
    opacity: 1;
    transition: 0.3s ease-in-out;
}
.restaurant-page-menu .hoverheart:hover .hoverheart__content-light {
    opacity: 0;
    transition: 0.3s ease-in-out;
}