// heart

.hoverheart:hover .hoverheart__content-solid {
    opacity: 1;
    transition: 0.3s ease-in-out;
}
.hoverheart:hover .hoverheart__content-light {
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.hoverheart__content-solid {
    font-size: 24px;
    position: absolute;
    background: linear-gradient($primary, $secondary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
}
.hoverheart__content-light {
    font-size: 24px;
    position: absolute;
    opacity: 1;
}

.restaurant-page-menu .hoverheart:hover .hoverheart__content-solid {
    opacity: 1;
    transition: 0.3s ease-in-out;
}
.restaurant-page-menu .hoverheart:hover .hoverheart__content-light {
    opacity: 0;
    transition: 0.3s ease-in-out;
}