* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1400px;
  margin: auto;
}

h1 {
  font-size: 25px;
}

.scrolling-bottom-in-top {
  animation: scrolling-bottom-in-top 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.scrolling__load--1 {
  animation-delay: 200ms;
}

.scrolling__load--2 {
  animation-delay: 300ms;
}

.scrolling__load--3 {
  animation-delay: 400ms;
}

.scrolling__load--4 {
  animation-delay: 500ms;
}

@keyframes scrolling-bottom-in-top {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  text-decoration: none;
  background-color: #fff;
  box-shadow: 0 4px 10px 3px #dbdbdb;
  color: black;
  padding: 13px 16px 10px 10px;
}
.menu__item-text {
  max-width: 90%;
  transition: max-width 0.5s;
}
.menu__item-text h3 {
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__item-text p {
  font-weight: 100;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.menu__item-price {
  transition: margin-right 0.5s;
  font-weight: 700;
}
.menu__item-action {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #99E2D0;
  right: -64px;
  width: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: right 0.5s;
}

.menu__item:hover .menu__item-text {
  max-width: calc(90% - 64px);
}

.menu__item:hover .menu__item-price {
  margin-right: 64px;
}

.menu__item:hover .menu__item-action {
  right: 0;
}

.menu__item-icon {
  height: 25px;
  width: 25px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

.menu__item:hover .menu__item-icon {
  transform: rotate(0);
  color: #99E2D0;
}

.hoverheart:hover .hoverheart__content-solid {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.hoverheart:hover .hoverheart__content-light {
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.hoverheart__content-solid {
  font-size: 24px;
  position: absolute;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
}

.hoverheart__content-light {
  font-size: 24px;
  position: absolute;
  opacity: 1;
}

.restaurant-page-menu .hoverheart:hover .hoverheart__content-solid {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.restaurant-page-menu .hoverheart:hover .hoverheart__content-light {
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.header {
  text-align: center;
}
.header__logo {
  margin: 20px 0px 5px 0px;
}
.header__logo img {
  width: 140px;
}
.header__menu-logo {
  display: flex;
  justify-content: space-around;
  margin: 20px 0px 10px 0px;
}
.header__menu-logo img {
  width: 160px;
}
.header__menu-logo a i {
  font-size: 22px;
  text-decoration: none;
  color: black;
}
.header__localisation {
  padding: 15px 0px;
  gap: 15px;
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: 0 20px 10px -20px rgba(0, 0, 0, 0.375) inset;
}
.header__localisation a {
  color: black;
}
.header__main {
  background-color: #f7f7f7;
  padding-top: 25px;
}
.header__main h1 {
  line-height: 1.1;
  padding: 15px 50px;
}
.header__main p {
  font-weight: 100;
  padding: 0px 21px;
  color: #464646;
}
.header__main button {
  cursor: pointer;
  margin: 25px 0px 45px 0px;
  padding: 18px 25px;
  font-size: 15px;
  color: #ffffff;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to right bottom, #FF79DA, #9356DC);
  transition: 0.3s;
  opacity: 1;
}
.header__main button:hover {
  opacity: 0.9;
  box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.8);
}

.footer {
  background-color: #353535;
  padding: 30px 20px 35px 25px;
  color: white;
}
.footer__logo img {
  width: 100px;
  margin-bottom: 20px;
}
.footer__nav {
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.footer__nav a {
  color: white;
  text-decoration: none;
}
.footer__nav-icon-one {
  margin-right: 15px;
  font-size: 14px;
}
.footer__nav-icon-two {
  font-size: 13px;
  margin-right: 10px;
}

.functionning__container {
  margin-bottom: 45px;
}
.functionning__container h2 {
  margin: 35px 15px 25px 25px;
}
.functionning__card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 910px) {
  .functionning__card-container {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 30px;
    padding: 20px 35px;
  }
}
.functionning__card {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 80%;
  background-color: #f7f7f7;
  box-shadow: 0px 4px 10px 3px #dbdbdb;
  border-radius: 20px;
  padding: 20px 20px;
}
.functionning__card span {
  padding: 3px 0px 0px 8px;
  margin-left: -20px;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  background: #9356DC;
  margin-left: -33px;
  color: #ffffff;
}
.functionning__card i {
  font-size: 20px;
  color: #7e7e7e;
}
.functionning__card h3 {
  font-size: 15px;
}
.functionning__card-coloring {
  background-color: #f5eeff;
}
.functionning__card-coloring i {
  color: #9356DC;
}

.restaurant__container {
  background-color: #f7f7f7;
  padding-bottom: 50px;
}
.restaurant__container h2 {
  padding: 35px 15px 20px 21px;
}
.restaurant__card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
@media screen and (min-width: 910px) {
  .restaurant__card-container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px 20px;
  }
}
.restaurant__card {
  width: 90%;
  border-radius: 20px;
  text-decoration: none;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px 3px #dbdbdb;
}
@media screen and (min-width: 910px) {
  .restaurant__card {
    width: 47%;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant__card {
    width: 22%;
  }
}
.restaurant__card-header {
  position: relative;
  text-align: center;
}
.restaurant__card-header-picture {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.restaurant__card-header span {
  position: absolute;
  top: 8px;
  right: 16px;
  background: #99E2D0;
  border-radius: 3px;
  padding: 6px 12px;
  color: #1d8e70;
}
.restaurant__card-text {
  display: flex;
  padding: 12px 50px 15px 15px;
  justify-content: space-between;
}
.restaurant__card-text a {
  text-decoration: none;
  color: black;
}
.restaurant__card-text h3 {
  margin-bottom: 3px;
}
.restaurant__card-text p {
  font-weight: 100;
}
.restaurant__card-text span i {
  font-size: 22px;
}

.main__picture {
  background-image: url("../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  margin-bottom: -35px;
  z-index: 2;
  width: 100%;
  height: 255px;
  background-size: cover;
  background-repeat: no-repeat;
}
.main__picture img {
  width: 100%;
  height: 255px;
  object-fit: cover;
}

.menu__container {
  background-color: #f7f7f7;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
}
.menu__container-title {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-top: 35px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 30px;
}
@media screen and (min-width: 500px) {
  .menu__container-title {
    justify-content: center;
  }
}
.menu__container-title h1 {
  font-size: 27px;
  font-family: "Shrikhand", sans-serif;
}
.menu__container-title span {
  font-size: 24px;
  margin-bottom: 25px;
}
.menu__container-subtitle {
  width: 100%;
  max-width: 392px;
}
.menu__container-subtitle h2 {
  font-weight: 100;
  text-transform: uppercase;
  font-size: 16px;
  padding-left: 14px;
}
.menu__container-highlight {
  padding-bottom: 3px;
  border-bottom: 3px solid #99E2D0;
}
@media screen and (min-width: 785px) {
  .menu__container-highlight {
    margin-left: 30%;
  }
}
.menu__container-center {
  margin-left: 40px;
}
@media screen and (min-width: 785px) {
  .menu__container-center {
    margin-left: 50%;
  }
}
.menu__container-button {
  width: 100%;
  text-align: center;
  padding-bottom: 45px;
}
.menu__container-button button {
  cursor: pointer;
  padding: 18px 50px;
  font-size: 16px;
  color: #ffffff;
  border-radius: 30px;
  border: none;
  box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(to right bottom, #FF79DA, #9356DC);
  transition: 0.3s;
  opacity: 1;
}
.menu__container-button button:hover {
  opacity: 0.9;
  box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.8);
}
.menu__item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  padding-bottom: 40px;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (min-width: 500px) {
  .menu__item-container {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px 15px;
    margin: 25px 0px;
  }
}
@media screen and (min-width: 930px) {
  .menu__item-container {
    flex-direction: row;
    padding: 0px 15px;
    margin: 25px 0px;
  }
}

/*# sourceMappingURL=style.css.map */
